---
import Section from "@/layouts/section.astro";
---

<Section>
	<h1>About Me</h1>
	<p>
		My name is Thomas Clark, I live in Australia and I like making websites and
		other cool stuff.
	</p>
</Section>
