@use "./theme.scss";

html {
	@include theme.base-theme;
	@include theme.color-scheme-light;

	font-family: var(--font-retro);
	font-size: var(--font-size-ui);
}

// Astro `Image` component
img[data-image-component="true"] {
	object-fit: cover;
}
