@mixin base-theme {
	--font-retro: Fixedsys, monospace;
	--font-size-ui: 20px;

	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 16px;
	--spacing-4: 32px;
	--spacing-5: 64px;
}

@mixin color-scheme($surface, $content-bg, $content-fg) {
	--color-surface: #{$surface};

	--color-content-bg: #{$content-bg};
	--color-content-fg: #{$content-fg};
}

@mixin color-scheme-light() {
	@include color-scheme(
		$surface: #fefefe,
		$content-bg: white,
		$content-fg: black
	);
}

@mixin color-scheme-dark() {
	@include color-scheme(
		$surface: #252931,
		$content-bg: black,
		$content-fg: white
	);
}
