@mixin base-theme() {
	--font-retro: Fixedsys, monospace;
	--font-size-ui: 20px;

	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 16px;
	--spacing-4: 32px;
	--spacing-5: 64px;
}

@mixin color-scheme-light() {
	--color-primary: #4f56f9;
	--color-secondary: #4ffefd;
	--color-surface: #fefefe;
}
