---
import Panel from "@/components/panel.astro";
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout>
	<div class="container">
		<Panel class="card">
			My name is Thomas Clark, I live in Australia and I like making websites
			and other cool stuff.
		</Panel>
	</div>
</BaseLayout>

<style lang="scss">
	:global(body) {
		backdrop-filter: blur(4px);

		background-size: cover;
		background-position: center center;
		background-repeat: repeat;
		background-image: url("/assets/images/bg.svg");
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: var(--spacing-2);

		width: 100%;
	}

	.card {
		width: 100%;
		max-width: 600px;

		text-align: center;
	}
</style>
