---
import { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"div">;

const { class: classProp, ...rest } = Astro.props;
---

<div class:list={["root", classProp]} {...rest}>
	<slot />
</div>

<style lang="scss">
	.root {
		background-color: var(--color-surface);
		padding: var(--spacing-surface);
		border: 1px solid black;
		padding: var(--spacing-3);
	}
</style>
