---
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
	<main id="content">
		<div id="container">
			<slot />
		</div>
	</main>
</BaseLayout>

<style lang="scss">
	#content {
		display: flex;
		justify-content: center;

		font-family: "Times New Roman", Times, serif;
		height: 100%;
		padding: var(--spacing-3) var(--spacing-4);
	}

	#content :global(:where(h1, h2, h3, h4, h5, h6)) {
		width: max-content;

		background-color: var(--color-content-fg);
		color: var(--color-content-bg);

		font-style: italic;

		margin-bottom: 0.2rem;

		&:where(h1) {
			font-size: 1.2rem;
		}
	}

	#content :global(p) {
		font-size: 16px;
	}

	#container {
		width: 100%;
		max-width: 600px;
	}
</style>
